main {
    min-height: 90vh;
    margin-top: 2rem;
    background-color: rgb(226, 241, 247);
}

.rating span {
    margin-top: 0.2rem;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}


h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3,
h4 {
    padding: 1rem 0;
}

footer {
    background-color: rgb(194, 219, 229);
}

.card {
    margin: 1rem;
    padding: 5px;

}



#image {
    padding: 5px;

}

button {
    margin: 1rem 0;
}