main {
    min-height: 90vh;
    margin-top: 2rem;
    background-color: rgb(226, 241, 247);
}

.rating span {
    margin-top: 0.2rem;
}

h1,
h2,
h3,
h4 {
    padding: 2rem 0;
}

footer {
    background-color: rgb(194, 219, 229);
}

.card {
    margin: 1rem;
    padding: 5px;
    border-radius: 16px;
}

#round {
    border-radius: 16px;
}

#image {
    padding: 5px;
    border-radius: 16px;
}