main {
    min-height: 90vh;
    margin-top: 2rem;
    background-color: rgb(210, 228, 236);
}

.rating span {
    margin-top: 0.2rem;
}

h1,
h2,
h3,
h4 {
    padding: 2rem 0;
}

footer {
    background-color: rgb(170, 205, 220);
}